/* 상단 상태 바 */
.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}

.status-bar_column {
  width: 33%;
  font-size: 16px;
}

.status-bar_column:nth-child(1) {
  display: flex;
  justify-content: flex-start;
}

.status-bar_column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar_column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar_column:nth-child(1) .fa-wifi,
.status-bar_column:nth-child(3) .fa-battery-full {
  margin: 0 5px;
}
