/* reset */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import "reset.css";
@import "./variables.css";

/* Conponents */
@import "Components/status-bar.css";
@import "Components/nav-bar.css";
@import "Components/screen-header.css";
@import "Components/user-component.css";

/* Screens */
@import "Screens/main-form.css";
@import "Screens/friends.css";

body {
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  font-family: "Nanum Gothic", sans-serif;
  color: #2e363e;
  /* background-color: #f0f0f0; */
}

.wrapper {
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
