.nav {
  position: fixed;
  bottom: 0;
  width: 50%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  display: flex;
  position: absolute;
  left: 20px;
  bottom: 8px;
  justify-content: center;
  align-items: center;
  background-color: #ff6228;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: white;
  font-weight: 600;
}
